-e git+ssh://git@github.com/ILAFF/ILAFF.git@5cad54d8f84b09aecaa55d7064be5f080c4aca16#egg=ilaff
iminuit==2.32.0
iniconfig==2.3.0
numpy==2.4.2
packaging==26.0
pandas==3.0.0
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.2
python-dateutil==2.9.0.post0
resample==1.10.1
scipy==1.17.0
setuptools==82.0.0
six==1.17.0
xarray==2026.1.0
